<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
          <h2 class="title">Server Error: 500</h2>
          <small class="sub-title">Houston, we have a problem!</small>
          <button nbButton fullWidth (click)="goToHome()" type="button" class="home-button">
            Take me home
          </button>
          <p class="actions-main" color="primary">
            Kindly contact support: <a href="mailto:support@test.com">Send Email</a>
          </p>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
